.customers-row {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0 -15px;
  align-items: flex-start;
}
.customers-card {
  width: 30%;
  margin: 0px 15px;
}
.customers-content {
  margin-bottom: 35px;
}
.customers-card-text {
  position: relative;
  height: 100%;
}

.customers-card-text:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #e2e2e2;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 100%;
  left: 20px;
}

.customers-card-text {
  background: #e2e2e2;
  border-radius: 7px;
  padding: 12px 22px 12px;
}
.customers-card-text p {
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  color: #86878b;
  text-align: center;
}
.customer-card-info {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-start;
}
.customer-card-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.customer-card-photo img {
  width: 100%;
}

p.name {
  font-family: Open Sans;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 12px;
  color: #333333;
}
p.profession {
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: right;
  color: #86878b;
}
