.pricing {
  background-color: #f5f5f5;
}
.pricing-card:hover {
  transform: translate(0px, -30px);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.55);
  transform: scale(1.2);
}
.pricing-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 0 -15px;
}
.pricing-card {
  width: 30%;
  margin: 0px 15px;
}
.pricing-list_item--name {
  font-family: Open Sans;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  line-height: 40px;
  margin-bottom: 3px;
}
.pricing-list_item--cost {
  font-family: Raleway;
  font-size: 2.187rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  line-height: 80px;
  margin-bottom: 3px;
}
.pricing-list_item--text {
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  line-height: 40px;
  margin-bottom: 3px;
}
.pricing-list_item {
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: #86878b;
  line-height: 35px;
  background-color: #ffffff;
  margin-bottom: 3px;
}
.pricing-list_item:last-child {
  margin-bottom: 0px;
}
